# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen

# COMPILES
*.pyc

# DIRECTORIES
del_area/
venv/
hashes/
build/
dist/
hashwrap.egg-info/
